DB_CONNECTION=pgsql
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.fjdirxlenxkqdhkmgqfg
DB_PASSWORD=[YOUR-DATABASE-PASSWORD]
DB_SSL_MODE=require

SUPABASE_URL=https://fjdirxlenxkqdhkmgqfg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZqZGlyeGxlbnhrcWRoa21ncWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExMzI2MDYsImV4cCI6MjA4NjcwODYwNn0.o4gH9yA2RvW9ZcZwFczz1AkNSz46b5UJaw6HMWEnNqI
