/* --- Mixins --- */

@mixin alignContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin sidelinks {
    @include alignContent();
    color: #494949;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 0.3s;

    &:hover,
    &:focus {
        background-color: #efefef;
    }
}